{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - Error 404
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <img class="float-right" src="{{ asset('public/images/ours.gif') }}">
            <h2>{{ status_code }} - {{ status_text }}</h2>
            <h3>Il n'y à rien içi ...</h3>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
