<header>
    <p class="display-5 text-center">
        Aujourd'hui - {{ "now"|date('l j/m/Y') }} - Semaine {{ "now"|date('W') }}
    </p>
    <div class="row d-none d-sm-flex p-2 bg-dark text-white">
        <h5 class="col-sm p-2 text-center">Lundi</h5>
        <h5 class="col-sm p-2 text-center">Mardi</h5>
        <h5 class="col-sm p-2 text-center">Mercredi</h5>
        <h5 class="col-sm p-2 text-center">Jeudi</h5>
        <h5 class="col-sm p-2 text-center">Vendredi</h5>
        <h5 class="col-sm p-2 text-center">Samedi</h5>
        <h5 class="col-sm p-2 text-center">Dimanche</h5>
    </div>
</header>

<div class="row border border-right-0 border-bottom-0">
    {% for day in days %}
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate 
        {% if day|date('m')!="now"|date('m') %} d-none d-sm-inline-block bg-light text-muted {% endif %}">
            <h5 class="row align-items-center">
                <span class="date col-1">{{ day|date('d') }}</span>
                <small class="col d-sm-none text-center text-muted">{{ day|date('D') }}</small>
                <span class="col-1"></span>
            </h5>
            <p class="d-sm-none">No events</p>
            {% if day|date('m')=="now"|date('m') and (day|date('w')!=0 and day|date('w')!=6) and "now"|date('Y-m-d')<=day|date('Y-m-d') %}
                {{ render(controller("AppBundle:Reservation:displayNbReservationsByDay", { 'room': room, 'day': day })) }}
            {% endif %}
        </div>
        {% if loop.index  % 7 == 0 %}
            <div class="w-100"></div>
        {% endif %}
        
        <!-- Permet l'affichage de la modal du jour sélectionné -->
    <div class="container">
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  {{ include("include/_calendar_day.html.twig") }}
{#                 <div class="container">#}
{#                     <div class="table-responsive">#}
{#                         <table class="table table-sm table-bordered table-hover table-light">#}
{#                             {% for hour in 8..17 %}#}
{#                                 {{ render(controller("AppBundle:Reservation:displayReservationsByDay", { 'room': room, 'day': day, 'hour': hour })) }}#}
{#                             {% endfor %}#}
{#                 		</table>#}
{#                     </div>#}
{#                 </div>#}
                <form>
                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Date réservation :</label>
                    <input type="text" class="form-control" id="recipient-name">
                  </div>
                  <div class="form-group">
                    <label for="message-text" class="col-form-label">Commentaire :</label>
                    <textarea class="form-control" id="message-text"></textarea>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary">Créer</button>
              </div>
            </div>
          </div>
        </div>
    </div> 
    {% endfor %}
</div>

    