<!-- Permet l'affichage de la modal du jour sélectionné -->
<div class="container">
    <div class="modal fade" id="dayModal" tabindex="-1" role="dialog" aria-labelledby="dayModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="dayModalLabel">toto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {#{{ include("include/_calendar_day.html.twig") }}#}
                    <div class="container">
                        <div class="table-responsive">
                            <table class="table table-sm table-bordered table-hover table-light">
                                {% for hour in 8..17 %}
                                    {#{{ render(controller("AppBundle:Reservation:displayReservationsByDay", { 'room': room, 'day': day, 'hour': hour })) }}#}
                                    <tr>
                                        <td>{{ "%02d"|format(hour) }}:00 - {{ "%02d"|format(hour) }}:30</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>{{ "%02d"|format(hour) }}:30 - {{ "%02d"|format(hour+1) }}:00</td>
                                        <td></td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
</div>