<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top" >
    
    <a class="navbar-brand" href="{{ path('front_homepage') }}"><img src="{{ asset('public/images/ico_gfi.png') }}" alt="logo" height="42" /> Helper</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if app.request.get('_route') == 'front_planning' or 
                                    app.request.get('_route') == 'front_planning_room_month' or 
                                    app.request.get('_route') == 'front_reservations_room_date' %}active{% endif %}">
                <a class="nav-link" href="{{ path('front_planning') }}">
                    <i class="far fa-calendar-alt"></i> Planning
                    {% if app.request.get('_route') == 'front_planning' or 
                        app.request.get('_route') == 'front_planning_room_month' or 
                        app.request.get('_route') == 'front_reservations_room_date' %}
                            <span class="sr-only">(current)</span>
                    {% endif %}
                </a>
            </li>
{#            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}#}
                <li class="nav-item {% if app.request.get('_route') == 'app_reservation_new_blank' or
                                        app.request.get('_route') == 'app_reservation_new_prefilled' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('app_reservation_new_blank') }}">
                    	<i class="far fa-calendar-plus"></i> Réserver
                    	{% if app.request.get('_route') == 'app_reservation_new_blank' %}
                            <span class="sr-only">(current)</span>
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item {% if app.request.get('_route') == 'front_myreservations' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('front_myreservations') }}">
                    	<i class="fas fa-clipboard-list"></i> Mes réservations
                    	{% if app.request.get('_route') == 'front_myreservations' %}
                            <span class="sr-only">(current)</span>
                        {% endif %}
                    </a>
                </li>
{#            {% endif %}#}
        </ul>
        
        {#<form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>#}
        
        
        {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <a class="btn btn-outline-light btn-sm" href="{{ path('fos_user_security_login') }}" role="button"><i class="fas fa-sign-in-alt"></i> Se connecter</a>
        {% else %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i> <b>{{ app.user.username }}</b>
                        <small>({% for role in app.user.roles %}{{ role }}{% if not loop.last %}, {% endif %}{% endfor %})</small>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown01">
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="dropdown-item"
                               href="{{ path('sonata_admin_dashboard') }}"target="_blank">
                                <i class="fas fa-external-link-alt"></i> Admin Dashboard
                            </a>
                            <div class="dropdown-divider"></div>
                        {% endif %}
                        
                        <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}"><i class="fas fa-sign-out-alt"></i> Se déconnecter</a>
                    </div>
                </li>
            </ul>
        {% endif %}
        
        
    </div>
    
</nav>
