{# date du jour == lundi #}
{% set c1 = (date|date('w') == 1) %}
{# date du jour == vendredi #}
{% set c2 = (date|date('w') == 5) %}

<span>
    
    {% if c1 %}
        <a href="{{ path('front_reservations_room_date', {'roomSlug': room.slug, 'date': date|date_modify("-3 day")|date('Y-m-d')})}}">
            <i class="fas fa-caret-square-left"></i>
            {{ date|date_modify("-3 day")|date('D d/m/Y') }}
        </a>
    {% else %}
        <a href="{{ path('front_reservations_room_date', {'roomSlug': room.slug, 'date': date|date_modify("-1 day")|date('Y-m-d')})}}">
            <i class="fas fa-caret-square-left"></i>
            {{ date|date_modify("-1 day")|date('D d/m/Y') }}
        </a>
    {% endif %}
    
    {% if c2 %}
        <a class="float-right"
            href="{{ path('front_reservations_room_date', {'roomSlug': room.slug, 'date': date|date_modify("+3 day")|date('Y-m-d')})}}">
             {{ date|date_modify("+3 day")|date('D d/m/Y') }}
             <i class="fas fa-caret-square-right"></i>
         </a>
    {% else %}
        <a class="float-right"
            href="{{ path('front_reservations_room_date', {'roomSlug': room.slug, 'date': date|date_modify("+1 day")|date('Y-m-d')})}}">
             {{ date|date_modify("+1 day")|date('D d/m/Y') }}
             <i class="fas fa-caret-square-right"></i>
         </a>
    {% endif %}
    
</span>
