{# mois demandé == mois de la date actuelle #}
{% set c1 = (month|date('Y-m') == "now"|date('Y-m')) %}

<span>
    




    <div class="d-flex justify-content-between">
    <div class="p-1">
      <a class="btn btn-outline-primary btn-sm {% if c1 %} disabled {% endif %}"
        {% if c1 %} aria-disabled="true" {% endif %}
              {% if c1 %}href="#"{% else %}href="{{ path('front_planning_room_month', {'roomSlug': room.slug, 'month': prevMonth|date('Y-m-d')})}}"{% endif %}>
        <i class="fas fa-caret-square-left"></i>
        {{ prevMonth|date('F') }}
    </a>
    </div>
    <div class="p-1">
      <h2><strong>{{ month|date('F') }}</strong></h2>
    </div>
    <div class="p-1">
      <a class="btn btn-outline-primary btn-sm float-right"
         href="{{ path('front_planning_room_month', {'roomSlug': room.slug, 'month': nextMonth|date('Y-m-d')})}}">
        {{ nextMonth|date('F') }}
        <i class="fas fa-caret-square-right"></i>
    </a>
    </div>
  </div>
    
</span>
