
<div class="table-responsive">
    <table class="table table-sm table-bordered table-light">

        <tr>
            <th rowspan="2">Nom ou Trigramme</th>
            <th rowspan="2">Salle</th>
            <th rowspan="2">Date</th>
            <th colspan="2">Heure</th>
            <th rowspan="2"></th>
        </tr>
        <tr>
            <th>De</th>
            <th>Jusqu'à </th>
        </tr>
        
        {% for reservation in myReservations %}
            <tr>
                <td>{{ reservation.user.username }}</td>
                <td>{{ reservation.room.name }}</td>
                <td>{{ reservation.dateBegin|date('l d/m/Y') }}</td>
                <td>{{ reservation.dateBegin|date('H:i') }}</td>
                <td>{{ reservation.dateEnd|date('H:i') }}</td>
                <td>
                    {% if reservation.user == app.user %}
                        <a href="{{ path('app_reservation_delete', {'id': reservation.id}) }}">
                            Supprimer
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        
      </table>
</div>