<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Gfi Helper">
    <meta name="author" content="L&D">
    <link rel="icon" href="{{ asset('public/images/ico_gfi_carre_petit.png') }}">

    <title>{% block title %}gfi_helper{% endblock %}</title>

    {% block stylesheets %}
    {# CSS #}
        {#<link href="{{ asset('public/bootstrap-4.0.0-dist/css/bootstrap.min.css') }}" rel="stylesheet" />#}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        {# custom css #}
        <link href="{{ asset('public/css/style.css') }}" rel="stylesheet" />
    {% endblock %}
</head>

<body>
    
    {{ include("include/_navbar.html.twig") }}
    
    
    <main role="main">
    	<br>
        <div class="container">
            {{ include("include/_flashbag.html.twig") }}
        </div>
        {% block content %}{% endblock %}
        
    </main>
    
    
	
    {{ include("include/_footer.html.twig") }}
    
      
    {% block javascripts %}
        <!-- JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        {#<script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
        <script src="{{ asset('public/bootstrap-4.0.0-dist/js/bootstrap.min.js') }}"></script>#}
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        
        <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    {% endblock %}
    
    
  </body>
</html>
