{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - Planning
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('public/css/style_calendar.css') }}" rel="stylesheet" />
    <link href="{{ asset('public/css/style_popover_weather.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div class="container">
        {# Plus tard, ici il faudrait utiliser un include en mode comme 
            dans reservations_room_date.html.twig, cela nous évitera de charger
            les infos pour toutes les salles ... ;) #}
        {{ include("room/_calendar_tabs.html.twig") }}

        {{ include("include/_prev_month_next_month.html.twig") }}
        
        {{ include("include/_calendar.html.twig") }}

        {{ include("include/_prev_month_next_month.html.twig") }}
        
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover({html:true})
        });
    </script>
{% endblock %}
