{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - Planning
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('public/css/style_calendar.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div class="container">
        
        {# Plus tard, ici il faudrait utiliser un include en mode comme 
            dans reservations_room_date.html.twig, cela nous évitera de charger
            les infos pour toutes les salles ... ;) #}
        {{ include("room/_calendar_tabs.html.twig") }}
        
        {{ include("include/_current_time.html.twig") }}
        
        {{ include("include/_prev_month_next_month.html.twig") }}
        
        {{ include("include/_calendar.html.twig") }}
        
        
        {{ include("include/_prev_month_next_month.html.twig") }}
        
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/moment.js/moment-with-locales.js') }}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha18/js/tempusdominus-bootstrap-4.min.js"></script>
    
    <script>
        $(document).ready(function() {
            setInterval(function() {
                $('#span_date').html(
                    moment().format('DD/MM/YYYY - HH:mm:ss')
                );
            }, 100);

        });
    </script>
{% endblock %}
