{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - Accueil
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('public/css/style_calendar.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div class="container">
        <h2>Salles de réunion</h2>
        <br>
        
        {# Permet l'affichage des différentes salles #}
        <ul class="nav nav-tabs" role="tablist">
            {% for room in rooms %}
            <li class="nav-item">
                <a class="nav-link {% if loop.index == 1 %} active {% endif %}" data-toggle="tab" href="#menu{{ loop.index }}"><b>{{ room.name }}</b></a>
            </li>
            {% endfor %}
        </ul>
        
        {# Permet l'affichage du planning de chaque salle #}
        <div class="tab-content">
            {% for room in rooms %}
                <div id="menu{{ loop.index }}" class="container tab-pane {% if loop.index == 1 %} active {% endif %}">
                    <br>
                    <h4>{{ room.name }}</h4>
                    {{ include("include/_calendar.html.twig") }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
