{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - Mes réservations
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('public/css/style_calendar.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}  
    <div class="container">
        <h1 class="display-4"> Mes réservations</h1><br>
        {{ include("include/_table_reservations.html.twig") }}
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <p><a class="btn btn-primary btn-lg" href="{{ path('app_reservation_new') }}" role="button">Reserver &raquo;</a></p>
        {% endif %}
    </div>
{% endblock %}
            
{% block javascripts %}
    {{ parent() }}
{% endblock %}
