{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - Mes réservations
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('public/css/style_calendar.css') }}" rel="stylesheet" />
    <link href="{{ asset('public/css/style_table_links_hover.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}  
    <div class="container">
        
        <h2> Mes réservations</h2>
        
        {% if myReservations is not empty %}
            <div class="table-responsive">
                <table class="table table-sm table-bordered table-light table-hover">
                    <thead>
                        <tr>
                            <th rowspan="2">Nom ou Trigramme</th>
                            <th rowspan="2">Salle</th>
                            <th rowspan="2">Date</th>
                            <th colspan="2">Heure</th>
                            <th rowspan="2">Commentaire</th>
                            <th rowspan="2"  style="width: 10%">Editer</th>
                        </tr>
                        <tr>
                            <th>De</th>
                            <th>Jusqu'à </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for reservation in myReservations %}
                            <tr>
                                <td>{{ reservation.user.username }}</td>
                                <td>{{ reservation.room.name }}</td>
                                <td>{{ reservation.date|date('l d/m/Y') }}</td>
                                <td>{{ reservation.timeBegin|date('H:i') }}</td>
                                <td>{{ reservation.timeEnd|date('H:i') }}</td>
                                <td>
                                    {% if reservation.comment|length < 8 %}
                                        {{ reservation.comment }}
                                    {% else %}
                                        {{ reservation.comment|slice(0, 7) ~ '..' }}
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}"
                                        class="showOnHover badge badge-warning">
                                        <i class="far fa-edit"></i> Editer
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    <tbody>
                </table>
            </div>
        {% else %}
            <p>Vous n'avez pas de réservation.</p>
        {% endif %}
                
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <p>
                <a class="btn btn-primary btn-lg" href="{{ path('app_reservation_new_blank') }}" role="button">
                    <i class="far fa-calendar-plus"></i> Reserver
                </a>
            </p>
        {% endif %}
        
    </div>
{% endblock %}
            
{% block javascripts %}
    {{ parent() }}
{% endblock %}
